<div class="c_api">
    {{#each datos}}
        <h1>{{name}}</h1>
        <h1>{{status}}</h1>
        <h1>{{species}}</h1>
        <div class="c_img">
            <img src="{{image}}" alt="">
        </div>
    {{else}}
        <h1>La api esta vacia</h1>
    {{/each}}
</div>